*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Игнорируем файл .idea который обновляется при открытии окошек,
# изменении настроек и т.д.
.idea/workspace.xml
.idea/libraries

# Игнорируем тестовые файлы
*.txt

